.paging {
    width: 100%;
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}

.item {
    color: #f9f9f9;
    display: flex;
    width: 45px;
    height: 45px;
    padding: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Trirong', serif;
    box-sizing: border-box;
}

.item.active {
    color: #e8b057;
    border: 1px solid #e8b057;
}
.paging i{
    right: 0;
    font-size: 3.2rem;
    cursor: pointer;
    color: white;
    margin: 0 16px;
}


