.banner, .banner1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trirong', serif;
}

.background1, .background2 {
    width: 100%;
    filter: brightness(0.5) saturate(50%);
    position: absolute;
    left: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
}

.background1 {
    height: 900px;
    transform: translateY(-88px);
    background-position: top;
}

.background2 {
    height: 1080px;
    transform: translateY(46px) scaleY(-1);
    background-position: bottom;
}

.box {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    font-size: 3.2rem;
    color: #c4b998;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 56px 0 24px 0;
    text-transform: capitalize;
}

.dashLineLeft, .dashLineRight {
    width: 32%;
    height: 1px;
    background: linear-gradient(90deg, rgba(232, 176, 87, 0.7008053221288515) 35%, rgba(196, 185, 152, 0) 100%);
}

.dashLineLeft {
    transform: scale(-1, 1);
}

.dashLineLeft::before, .dashLineRight::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 1px solid #e8b057;
}

.dashLineLeft::before {
    transform: translateX(-10px) translateY(-4px) rotate(45deg);
}

.dashLineRight::before {
    transform: translateX(-10px) translateY(-4px) rotate(45deg);
}

.posts, .posts1 {
    /*transform: translateY(160px);*/
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 348px 348px;
    grid-gap: 4px;
    padding: 8px 0;

}

.post {
    position: relative;
    overflow: hidden;
    border: 2px solid #c4b998;
    cursor: pointer;
    transition: 0.5s;
}

.post img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.post:hover {
    transform: scale(1.1);
    z-index: 1;
}

.post:hover .content {
    transform: translateY(0);
    width: calc(100% + 1px);
}

.content {
    left: 0;
    right: 0;
    height: 120px;
    position: absolute;
    bottom: 0;
    border-top: 2px solid #e8b057;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(40px);
    transition: 0.5s;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: -27px;
    background-color: #232020;
    border: 3px solid #e8b057;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.description, .viewPost {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 100%;
    font-family: 'Trirong', serif;
}

.description {
    width: 100%;
    background-color: #101217;
    top: 0;
    height: 80px;
    padding: 8px 16px;
}

.description font {
    width: 90%;
    font-size: 1.3rem;
    overflow-wrap: anywhere;
    text-align: center;
    line-height: 1.6rem;
}

.viewPost {
    width: 100%;
    height: 40px;
    background-color: #14181d;
    bottom: 0;
    border-top: 1px solid #e8b057;
    text-transform: uppercase;
    font-size: 1.3rem;
}