.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 240px;
    background-color: #1f1d1d;
    border-top: 2px solid #343434;
    line-height: 6.4rem;
    box-sizing: border-box;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
}

.nameWeb {
    font-size: 2.4rem;
    color: #c4b998;
    margin: 0 16px;
    font-family: 'Trirong', serif;
}

.item {
    margin: 0 8px;
    font-size: 1.8rem;
    font-family: 'Trirong', serif;
    cursor: pointer;
    color: rgba(196, 185, 152, 0.46);
}

.item:nth-child(1) {
    margin-left: 0;
}

@media (max-width: 500px){

}