.container {
    width: 100%;
    min-height: 1234px;
    position: relative;
    padding-bottom: 32px;
}

.background {
    background-color: #262525;
    filter: brightness(0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}