.login {
    width: 100%;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.boxLogo {
    width: 100%;
    height: 88px;
    box-sizing: border-box;
}

.box{
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Trirong', serif;
    cursor: pointer;
}

.nameWeb{
    font-size: 3.2rem;
    font-weight: 600;
}

.boxLogin {
    width: 1437px;
    margin: 0 auto;
}

.form {
    margin: 0 auto 64px auto;
    width: 460px;
    height: 650px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    font-family: 'Trirong', serif;
    padding: 0 56px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleForm {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.loginFail{
    width: 100%;
    font-size: 1.3rem;
    font-weight: 600;
    color: #ec2cec;
    margin-bottom: 16px;
}

.username, .password {
    width: 100%;
    margin: 8px 0;
    position: relative;
    background-color: #e8e6e6;
    border-radius: 4px;
}

.password i {
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 4%;
    font-size: 2rem;
    z-index: 2;
}

.lockPass {
    display: none;
}

.unlockPass {
    display: none;
}

.username input, .password input {
    width: 100%;
    height: 56px;
    background-color: transparent;
    border: none;
    text-indent: 8px;
    font-size: 1.4rem;
    border-radius: 4px;
    font-family: 'Trirong', serif;
    font-weight: 600;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    padding-top: 16px;
}

.username input:focus, .password input:focus {
    padding-top: 24px;
    padding-bottom: 8px;
}

.password input {
    padding-right: 48px;
}

.titleUsername, .titlePassword {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #4c4c4c;
    position: absolute;
    top: 20px;
    left: 24px;
    transition: 0.2s;
}

.saveLogin {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 32px;
}

.saveLogin input {
    width: 16px;
    height: 16px;
}

.saveLogin label {
    cursor: pointer;
    margin-left: 8px;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    width: 88px;
    height: 88px;
    border-radius: 32px;
    border: none;
    margin-bottom: 40px;
}

.btn button.notActive{
    border: 2px solid #b7b1b1;
    color: #b7b1b1;
    cursor: not-allowed!important;
}

.btn button.active{
    background-color: #d13639;
    color: #f9f9f9;
    border: none;
}

.btn i {
    font-size: 4rem;
}

.haveTrouble {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 600;
    color: #666;
}

.cantLogin, .register {
    cursor: pointer;
}

.footer {
    width: 100%;
    list-style: none;
    display: flex;
    padding: 16px 0;
}

.item {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.6rem;
    margin-right: 16px;
    font-weight: 600;
}